* {
	margin: 0;
	padding: 0;
}

.lojoy-index {
	max-width: 1080px;
	margin: auto;
}

.lojoy-index img {
	display: block;
	width: 100%;
}

.clear {
	overflow: hidden;
}

.pull-left {
	width: 50%;
	float: left;
}

.pull-right {
	width: 50%;
	float: right;
}

.shade {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.6);
	z-index: 99;
}

.shade img {
	position: absolute;
	left: 50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.fixTop {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}

.btnBottom {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 9;
}